.devcontainer
.devcontainer/
.vscode/
devcontainer/
vscode/
client_files/
cmake/
build/
common/patches/
common/repositories/
dependencies/
libs/
loginserver/
queryserv/
submodules/
utils/
client_files/
